@font-face {
    font-family: 'MyFont';
    src: url('../fonts/OffBitTrial-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Variable.ttf') format('truetype');
  }

  @font-face {
    font-family: 'SatoshiItalic';
    src: url('fonts/Satoshi-VariableItalic.ttf') format('truetype');
  }


  body {
    font-family: 'SatoshiItalic', sans-serif;
  }

  h1 {
    font-family: 'SatoshiItalic', sans-serif;
  }
  
  h2 {
    font-family: 'Satoshi', sans-serif;
  }

  .title {
    font-size: 4vw;

  }
  
  .subtitle {
    font-size: 2vw;
  }
  